h1{
    color: aliceblue;
    background-color: black;
}
#cloud{
    color: aqua;
}

h2{
    color: aliceblue;
    background-color: blueviolet;
    text-align: center;
}

h3{
    color: darkblue;
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
}